# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.bvs/
.settings/
.project
.pydevproject

# --- Environnements Virtuels (Les gros coupables !) ---
.venv/
venv/
ENV/
env/
NoEnv/
backup/
apk/

# --- Kivy & Buildozer (iOS/Android) ---
.kivy/
.buildozer/
bin/
*.spec
.pytest_cache/

# --- Données locales & IDE ---
.idea/
.vscode/
save/
*.json
*.yaml
*.txt

apk/
ios/
backup/
*.apk
*.zip
.settings/
.project
.pydevproject