# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.bvs/
.settings/
.project
.pydevproject

# --- Environnements Virtuels (Les gros coupables !) ---
.venv/
venv/
ENV/
env/
NoEnv/
backup/
apk/

# --- Kivy & Buildozer (iOS/Android) ---
.kivy/
.buildozer/
bin/
*.spec
.pytest_cache/

# --- Données locales & IDE ---
.idea/
.vscode/
save/
*.yaml
*.txt
fcvv_release.keystore

1_apk/
3_ios/
2_backup/
5_release/
fcvv_api/
*.apk
*.zip
.settings/
.project
.pydevproject
assets/GoogleService-Info.plist 
google-services.json
