<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNrv2P7FmyeOl-27SM0kpGfKCNOlreC3w</string>
	<key>GCM_SENDER_ID</key>
	<string>512335597045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.fcvv.fcvv</string>
	<key>PROJECT_ID</key>
	<string>fcvv-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fcvv-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512335597045:ios:09b3bb7d6a9774723be4bc</string>
</dict>
</plist>